{% extends "template/en/base.html.twig" %}
{% block siteTitle %}Page inexistante{% endblock %}

{% block mainContent %}
<div class="presentation__mea b-lazy bgify" data-src="static/img/mea/404.png" data-absolute="false"></div>
<div class="presentation">
	<div class="s-edito presentation__txt">
		<h1>Page inexistante, <a class="link" href="/#">retour à l'accueil</a></h1>
	</div>
</div>
{% endblock %}
