{% extends "template/en/base.html.twig" %}
{% block siteTitle %}Portfolio{% endblock %}

{% block mainContent %}
<div class="presentation__mea b-lazy bgify" data-src="/static/img/mea/desktop.jpg" data-absolute="false"></div>
<div class="portfolio">
	<div class="project">
		<h2 class="t-h2">My last projects</h2>
		<section class="s-section">
			<div class="project__wrapper">
				{% include "block/en/project.html.twig" %}
			</div>
		</section>
		<div class="s-edito">
			<div class="portfolio__filter">
				<div class="portfolio__filter-item">
					<h4 class="t-h4">Skills domains to realise this different projects</h4>
					<ul class="portfolio__filter-list">
						<li>Front-end responsive integration</li>
						<li>Standards' respect W3C</li>
						<li>Static and responsive email integration</li>
						<li>CSS3 and JS animations</li>
						<li>Native javascript and Framework (Angular, VueJS...)</li>
						<li>Templating (Wordpress, Twig, Drupal...)</li>
						<li>Animated advertisement in HTML5 (Adobe Animate Edge)</li>
						<li>Versionning (Git, SVN, CVS)</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
