{% extends "template/fr/base.html.twig" %}
{% set page = 'home' %}
{% block siteTitle %}Bienvenue{% endblock %}

{% block mainContent %}
<div class="presentation__mea b-lazy bgify" data-src="static/img/mea/home.jpg" data-absolute="false"></div>
<div class="presentation">
	<div class="s-edito presentation__txt">
		<h2 class="t-h2">jvenerosy</h2>
		<p>Passioné de nouvelles technologies et de design c'est tout naturellement que je m'oriente dans le graphisme web en 2006. De nature curieuse, je m'intérresse alors de plus en plus à la programmation et décide en 2009 de devenir intégrateur Front-end.</p>
		<p>J'ai depuis multiplié les experiences, tout d'abord en agence, puis annonceur, freelance et finalement lead developer depuis Août 2016. Étant passé par le graphisme, j'apporte une énorme importance à l'expérience utilisateur, à l'accessibilité et à la qualité de mes productions.</p>
		<p>Je m'interresse également à la photographie, aux voyages, aux sports (mécaniques et physiques), ainsi qu'au cinéma.</p>
		<a href="/cv" class="t-h4 home__title  home__title--link">
			<svg class="svg">
				<use xlink:href="/static/img/svg.svg#icon-book"></use>
			</svg>
			Voir mon CV
		</a>
	</div>
	<div class="s-edito presentation__txt--skill">
		<h2 class="t-h2">Compétences :</h2>
		<ul>
			<li data-note="5">HTML5</li>
			<li data-note="5">CSS3</li>
			<li data-note="5">Preprocesseurs (Sass, Less)</li>
			<li data-note="3">JS natif et framework (Angular, VueJS...)</li>
			<li data-note="3">Templating (Wordpress, Twig)</li>
			<li data-note="5">Gulp, Grunt</li>
		</ul>
	</div>
	</ul>
</div>

<div class="project">
	<h2 class="t-h2">Derniers projets</h2>
	<div class="project__wrapper">
		{% include "block/fr/project.html.twig" %}
	</div>
	<a href="/portfolio" class="t-h4 home__title  home__title--link">
		<svg class="svg">
			<use xlink:href="/static/img/svg.svg#icon-profile"></use>
		</svg>
		Voir plus de projets
	</a>
</div>
{% include "block/fr/social.html.twig" %}
{% endblock %}
