<header class="main-header">
    <h1 class="main-header__title">
        <a href="/" class="main-header__title__link">
            <svg class="svg">
                <use xlink:href="/static/img/svg.svg#icon-logo"></use>
            </svg>
        </a>
    </h1>
    <a href="#" class="menu--link" title="Menu" data-activable="#menu" data-desactivable=".menu__in-close" data-overlay="true">
        <svg class="svg">
            <use xlink:href="/static/img/svg.svg#icon-menu"></use>
        </svg>
    </a>
</header>
