{% import "macros/menu-item.html.twig" as menuItem %}
<div id="menu">
    <div class="menu__in">
        <a href="#" class="menu__in-close">
            <svg class="svg">
                <use xlink:href="/static/img/svg.svg#icon-cross"></use>
            </svg>
        </a>
        <ul class="menu__in-nav">
            {{ menuItem.getItem("Home", "home", "/", "Retour à l'accueil") }}
            {{ menuItem.getItem("Portfolio", "profile", "/portfolio", "Mes projets") }}
            {{ menuItem.getItem("CV", "book", "/cv", "Curriculum Vitae") }}
        </ul>
        {% include "block/fr/social.html.twig" %}
        <ul class="menu__in-trad">
          <li class="menu__in-trad-item"><a href="/#"><img src="/static/img/flag-fr.png" alt="Site en français"></a></li>
          <li class="menu__in-trad-item"><a href="/en"><img src="/static/img/flag-en.png" alt="Site en anglais"></a></li>
        </ul>
    </div>
</div>
