<div class="presentation__social">
    <h3 class="t-h3">Retrouvez moi sur</h3>
    <a href="https://github.com/jvenerosy" class="presentation__social-link presentation__social-link--github">
        <svg class="svg">
            <use xlink:href="/static/img/svg.svg#icon-github"></use>
        </svg>
    </a>
    <a href="https://twitter.com/JVenerosy" class="presentation__social-link presentation__social-link--twitter">
        <svg class="svg">
            <use xlink:href="/static/img/svg.svg#icon-twitter"></use>
        </svg>
    </a>
    <a href="http://codepen.io/jvenerosy/" class="presentation__social-link presentation__social-link--codepen">
        <svg class="svg">
            <use xlink:href="/static/img/svg.svg#icon-codepen"></use>
        </svg>
    </a>
    <a href="mailto:julien.venerosy@gmail.com" class="presentation__social-link presentation__social-link--mail">
        <svg class="svg">
            <use xlink:href="/static/img/svg.svg#icon-envelope"></use>
        </svg>
    </a>
</div>
