////
/// @group dimensions
////

/// largeur maximale du site
$d-size-site: 90%;

/// marge exterieures au site
$d-margin: 5%;
/// marge exterieures de blocs
$d-margin-block: 20px;
/// marge intérieures de blocs
$d-padding: 20px;